*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#info {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 24px;
	font-style: italic;
	color: #fff;
	margin: 8px;
}

.timer {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	font-size: 30px;
	font-style: italic;
	color: #fff;
	margin: 10px auto;
}

.btn-visible {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 50px;
}

.dn {
	display: none;
}
